*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    background-color: #f0f2f5;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-content: center;
}


.centralizar{
    width: 90%;
    margin: 0 auto;
}


.centSection{
    display: inline-block;
    width: 50%;
    height: 400px;
    margin: -3px;
    position: relative;
    top: 145px;
}

section{
    width: 600px;
    height: 250px;
    padding-left: 30px;
    position: absolute;
    top: 40px;
    right: 0;
}
section > p{
    font-size: 30px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

section > img{
    width: 320px;
    position: relative;
    left: -154px;

}

.centForm{
    display: inline-block;
    width: 50%;
    height: 400px;
    margin: -3px;
    vertical-align: top;
    position: relative;
    top: 145px;
    box-shadow: rgb(186, 186, 186);
    border-radius: 10px;
}

form{
    width: 400px;
    height: 365px;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.5px 0.5px 5px 0.5px rgb(186, 186, 186);
}
form > input{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
    height: 55px;
    border-radius: 8px;
    border: 0.5px solid #dddfe2;
    padding: 10px;
    padding-left: 10px;
    font-size: 17px;
}
form > input[type="text"], input[type="password"]{
    padding-left: 15px;
}
form > .entrar{
    background-color: #0866FF;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
form > a{
    text-decoration: none;
    color: #0866FF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
form > hr{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #f0f2f5;
    width: 90%;
}
form > .criarNovaConta{
    width: 40%;
    font-size: 15px;
    background-color: #36A420;
    color: white;
    font-weight: bold;
}
.centForm > p{
    text-align: center;
    position: relative;
    left: 50px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}